{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
<section>
    <div class="container">
    {{ include('admins/_form.html.twig') }}
    </div>
</section>
    
{% endblock %}
