<form method="post" action="{{ path('app_equipement_delete', {'refEquipement': equipement.refEquipement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipement.refEquipement) }}">
    <button class="btn">Delete</button>
</form>
