{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
<section>
    <div class="container">
    <h1>Créer un événement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a class="btn btn-dark btn-icon-text" href="{{ path('app_evenement_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
