{% extends 'base.front.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
<section>
<div class="container">
    <h1>Edit your profile</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
</section>
</div>
{% endblock %}
