{% extends 'base.front.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <section>
<div class="container">
    <h1>Create your CampersDen Account and join us !</h1>
    {{ include('client/_form.html.twig') }}
</div>
    </section>

{% endblock %}
